<h1>Places I've been</h1>
<h2>In the country</h2>
<ul>
    <li>Jalisco</li>
    <li>Michoacan</li>
    <img src="/files/4577dc5d-6c9b-4c6c-9c4a-7a19c8e01dfd.jpg" align="right">
    <li>Nayarit</li>
    <li>Estado de Mexico</li>
    <li>Ciudad de Mexico</li>
    <li>Zacatecas</li>
    <li>Baja California</li>
    <li>Queretaro</li>
    <li>Guanajuato</li>
    <li>Nuevo Leon</li>
    <li>Aguascalientes</li>
    <li>Quintana Roo</li>
</ul>
<h2>Countries that I've visited</h2>
<ul>
    <li>Mexico</li>
    <li>USA</li>
    <li>Canada</li>
    <li>Australia</li>
    <li>New Zealand</li>
    <li>UK</li>
    <li>Spain</li>
    <li>Portugal</li>
    <li>Italy</li>
    <li>Switzerland</li>
    <li>France</li>
    <li>Netherlands</li>
    <li>Belgum</li>
    <li>Morocco</li>
    <li>Singapore</li>
    <li>Malaysia</li>
    <li>Guatemala</li>
    <li>Costa Rica</li>
    <li>Panama</li>
</ul>
<div id="scrollText">The backyard apple tree gets sad so soon,
    takes on a used-up, feather-duster look
    within a week.
    
    The ivy’s spring reconnaissance campaign
    sends red feelers out and up and down
    to find the sun.
    
    Ivy from last summer clogs the pool,
    brewing a loamy, wormy, tea-leaf mulch
    soft to the touch
    
    and rank with interface of rut and rot.
    The month after the month they say is cruel
    is and is not.</div>