<h1>Places I've been</h1>
<h2>In the country</h2>
<ul>
    <li>Jalisco</li>
    <li>Michoacan</li>
    <img src="/files/IMG_1129.jpeg" class="places">
    <li>Nayarit</li>
    <li>Estado de Mexico</li>
    <li>Ciudad de Mexico</li>
    <li>Zacatecas</li>
    <li>Baja California</li>
    <li>Queretaro</li>
    <img src="/files/IMG_2389.JPG" class="places">
    <li>Guanajuato</li>
    <li>Nuevo Leon</li>
    <li>Aguascalientes</li>
    <li>Quintana Roo</li>
</ul>
<h2>Countries that I've visited</h2>
<ul>
    <li>Mexico</li>
    <li>USA</li>
    <li>Canada</li>
    <img src="/files/IMG_0408.jpeg" class="places">
    <li>Australia</li>
    <li>New Zealand</li>
    <li>UK</li>
    <li>Spain</li>
    <li>Portugal</li>
    <li>Italy</li>
    <img src="/files/IMG_0060.JPG" class="places">
    <li>Switzerland</li>
    <li>France</li>
    {{!-- <img src="/files/IMG_0060.JPG" class="places"> --}}
    <li>Netherlands</li>
    <li>Belgum</li>
    <li>Morocco</li>
    <li>Singapore</li>
    <li>Malaysia</li>
    <li>Guatemala</li>
    <li>Costa Rica</li>
    <li>Panama</li>
</ul>
<h3>Traveler's Poem</h3>
<h5>Hearthside, by Dorothy Parker</h5>
<div id="scrollText">Half across the world from me

Lie the lands I’ll never see-
I, whose longing lives and dies
Where a ship has sailed away;
I, that never close my eyes
But to look upon Cathay.

Things I may not know nor tell
Wait, where older waters swell;
Ways that flowered at Sappho’s tread,
Winds that sighed in Homer’s strings,
Vibrant with the singing dead,
Golden with the dust of wings.

Under deeper skies than mine,
Quiet valleys dip and shine.
Where their tender grasses heal
Ancient scars of trench and tomb
I shall never walk: nor kneel
Where the bones of poets bloom.

If I seek a lovelier part,
Where I travel goes my heart;
Where I stray my thought must go;
With me wanders my desire.
Best to sit and watch the snow,
Turn the lock, and poke the fire.
</div>