<h1>Ask me a Question!</h1>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="POST">
    <label for="question">Type your question:</label>
    <input type="text" id="question" name="question input">
    <input type="submit" id="qsubmit"name="question submitted">
</form>
<div id="qresponse"></div>
<script src="/js/question.js"></script>