<h1>Ask me a Question!</h1>
<form>
    <label for="question">Type your question:</label>
    <input type="text" id="question" name="question input">
    <input type="submit" id="qsubmit"name="question submitted">
</form>
<div id="qresponse"></div>
<script src="/js/question.js"></script>