<div class="menuBar">
    <a class="active "id="home" href="home.html">Home</a>
    <a id="places" href="places.html">Places I've been</a>
    <a id="experience" href="experience.html">Professional Experience</a>
    <a id="question" href="question.html">Ask me a question!</a>
</div>
<h1>Ask me a Question!</h1>
<form>
    <label for="question">Type your question:</label>
    <input type="text" id="question" name="question input">
    <input type="submit" id="qsubmit"name="question submitted">
</form>
<div id="qresponse"></div>
<script src="question.js"></script>